.Feed {
    flex: 0.6;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: red; */
}

.feed_inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* background-color: red; */
}

.feed_input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    padding-left: 15px;
    color: gray;

}

.feed_input>form {
    display: flex;
    width: 100%;

}

.feed_input>form>input {
    border: none;
    flex: 1;
    margin-left: 10px;
    font-weight: 600;
    outline-width: 0;
    outline: none;
}

.feed_input>form>button {
    display: none;
}

.feed_inputOption {
    display: flex;
    justify-content: space-evenly;
}